html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", monospace;
    font-size: 16px;
}

img {
    vertical-align: middle;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.table ,tr ,td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px 20px;
    text-align: center;
}